h1{
    color: rgb(255, 51, 0);
    /* background-color: rgb(0, 217, 255); */
    height : 150px;
    font-weight: 80;
    font-family: Arial, Helvetica, sans-serif;
    
}
img{
    height: 100px;
    width: 100px;
}
#idtag{
    color: deepskyblue;
}
.classtag{
    color: lightsalmon;
}
h1.new{
    color: lime;
}
.motivation{
    color: mediumblue;
}

.blog{
    
    border: 5px solid purple;
    border-radius: 20px;
    margin: 10px;
    width: 30%;
    text-align: inherit;
    display: inline-block;
}